
  

        <!-- <p>Selected Date: </p> -->
   
        <div class="row"  >
        
          <div class="col-4">
            <nb-card class="chart-container" >
                
                     
             
                  <nb-card-body >
                    <h6 class="text-center" style="font-family: 'Exo 2', sans-serif;
                    font-family: 'Shadows Into Light', cursive;">Gesamt</h6>
                      <div echarts [options]="intotalOccupiedoption" class="echart" >
                      </div>
                      <p class="text-center pr-4 small-text"style="font-family: 'Exo 2', sans-serif;
                      font-family: 'Shadows Into Light', cursive;">Belegt</p>
                  </nb-card-body>
                  <nb-card-body class="pt-0">
                      <div echarts [options]="intotalAvailableoption" class="echart">
                      </div>
                      <p class="text-center pr-4 small-text"style="font-family: 'Exo 2', sans-serif;
                      font-family: 'Shadows Into Light', cursive;">Verfügbar</p>
                  </nb-card-body>
                  <nb-card-body class="pt-0">
                      <div echarts [options]="othersOption" class="echart" >
                      </div>
                      <p class="text-center pr-4 small-text" style="font-family: 'Exo 2', sans-serif;
                      font-family: 'Shadows Into Light', cursive;">Sonstiges</p>
                  </nb-card-body>
              </nb-card>
          </div>
          <div class="col-4">
            <nb-card class="chart-container">
                 
                  <nb-card-body>
                    <h6 class="text-center"style="font-family: 'Exo 2', sans-serif;
                    font-family: 'Shadows Into Light', cursive;">Tag</h6>
                      <div echarts [options]="byDayOccupiedoption" class="echart">
                      </div>
                      <p class="text-center pr-4 small-text"style="font-family: 'Exo 2', sans-serif;
                      font-family: 'Shadows Into Light', cursive;">Belegt</p>
                  </nb-card-body>
                  <nb-card-body class="pt-0">
                      <div echarts [options]="byDayAvailableoption" class="echart">
                      </div>
                      <p class="text-center pr-4 small-text"style="font-family: 'Exo 2', sans-serif;
                      font-family: 'Shadows Into Light', cursive;">Verfügbar</p>
                  </nb-card-body>
                  <nb-card-body class="pt-0">
                      <div echarts [options]="byDayOthersoption" class="echart">
                      </div>
                      <p class="text-center pr-4 small-text"style="font-family: 'Exo 2', sans-serif;
                      font-family: 'Shadows Into Light', cursive;">Sonstiges</p>
                  </nb-card-body>
              </nb-card>
          </div>
          <div class="col-4">
            <nb-card class="chart-container">
                 
                  <nb-card-body>
                    <h6 class="text-center"style="font-family: 'Exo 2', sans-serif;
                    font-family: 'Shadows Into Light', cursive;">Nacht</h6>
                      <div echarts [options]="byNightOccupiedoption" class="echart">
                      </div>
                      <p class="text-center pr-4 small-text"style="font-family: 'Exo 2', sans-serif;
                      font-family: 'Shadows Into Light', cursive;">Belegt</p>
                  </nb-card-body>
                  <nb-card-body class="pt-0">
                      <div echarts [options]="byNightAvailableoption" class="echart">
                      </div>
                      <p class="text-center pr-4 small-text"style="font-family: 'Exo 2', sans-serif;
                      font-family: 'Shadows Into Light', cursive;">Verfügbar</p>
                  </nb-card-body>
                  <nb-card-body class="pt-0">
                      <div echarts [options]="byNightOthersoption" class="echart">
                      </div>
                      <p class="text-center pr-4 small-text"style="font-family: 'Exo 2', sans-serif;
                      font-family: 'Shadows Into Light', cursive;">Sonstiges</p>
                  </nb-card-body>
              </nb-card>
            </div>
        </div>
      
         
      