<nb-card>
  <nb-card-header>
    Filter
    <div class="zipcode-filter">
      <br>
      <input nbInput [(ngModel)]="inputRegierungsbezirk" type="text" placeholder="Gebiet eingeben" (input)="onInputChange($event)" />&nbsp;
      <button nbButton shape="round" >Suche</button>
    </div>
    <br>
    <nb-select [(ngModel)]="selectedTime" (selectedChange)="onTimeSelected(selectedTime)" class="mx-2" id='selectedFilter'>


      <nb-option value="10:00">10:00</nb-option>
      <nb-option value="10:15">10:15</nb-option>
      <nb-option value="10:30">10:30</nb-option>
      <nb-option value="10:45">10:45</nb-option>
      <nb-option value="11:00">11:00</nb-option>

      <nb-option value="11:15">11:15</nb-option>
      <nb-option value="11:30">11:30</nb-option>
      <nb-option value="11:45">11:45</nb-option>

      <nb-option value="12:00">12:00</nb-option>
      <nb-option value="12:15">11:15</nb-option>
      <nb-option value="12:30">11:30</nb-option>
      <nb-option value="12:45">11:45</nb-option>

      <nb-option value="13:00">13:00</nb-option>
      <nb-option value="13:15">13:15</nb-option>
      <nb-option value="13:30">13:30</nb-option>
      <nb-option value="13:45">13:45</nb-option>
      <nb-option value="13:00">14:00</nb-option>

      <!-- <nb-option value="country">Land</nb-option> -->
  </nb-select>
    
    
  
Ansicht:&nbsp; &nbsp;
<!-- <nb-select [(selected)]="zipCodeFilterOption">
  <nb-option value="regierungsbezirke" (click)="switchMap('regierungsbezirke')">Regierungsbezirke</nb-option>
  <nb-option value="kreise" (click)="switchMap('kreise')">Landkreise</nb-option>
  <nb-option value="all" (click)="switchMap('all')">5-stellig</nb-option>
  <nb-option value="twoDigits" (click)="switchMap('2-stellig')">2-stellig</nb-option>
</nb-select> -->



</nb-card-header>
</nb-card>
<br>

<div class="row">
  <div class="col-12">
    <p><b>Heat Map: Nettonennleistungen an Strom Erzeuger Solar </b>
          <span class="float-right px-2"><button nbButton  size="small" status="danger" shape="round"
                  (click)='downloadImage("jpeg")'>JPEG</button></span>
          <span class="float-right"><button nbButton  size="small" status="danger" shape="round"
                  (click)='downloadImage("png")'>png</button></span>
                  <span class="float-right">
                    <button nbButton *ngIf="zipCodeFilterOption === 'all'" size="small" status="danger" shape="round" (click)="downloadCSV('5-stellig-PLZ.csv', popupDataZipCode,'5-stellig-PLZ')">
                      CSV-Export
                    </button>&nbsp;
                  </span>
                  <span class="float-right">
                    <button nbButton *ngIf="zipCodeFilterOption === 'twoDigits'" size="small" status="danger" shape="round" (click)="downloadCSV('2-stellig', popupDataZipCode2D,'2-stellig-PLZ')">
                      CSV-Export
                    </button>&nbsp;
                  </span>
                  <span class="float-right">
                    <button nbButton *ngIf="zipCodeFilterOption === 'regierungsbezirke'" size="small" status="danger" shape="round" (click)="downloadCSV('regierungsbezirk-data.csv', popupDataRegierungsbezirk,'Regierungsbezirk')">
                     CSV-Export
                    </button>&nbsp;
                  </span>
                  <span class="float-right">
                    <button nbButton *ngIf="zipCodeFilterOption === 'kreise'" size="small" status="danger" shape="round" (click)="downloadCSV('kreise-data.csv', popupDataKreise,'Landkreise')">
                      CSV-Export
                    </button>&nbsp;
                  </span>
          </p>

  </div>
</div>

<div class="map-container" id="print">
    <div class="map-frame">
        <div id="heatMapContainerSolarLeistungRatio"></div>
       
          <div class="legend-container"  #draggableLegend>
            <div *ngIf="zipCodeFilterOption === 'all'" #legend id="legend" class="legend">
            <p><b>Perzentile der Nettonennleistungen 
              <br>an Strom Erzeuger Strom
              <br>je PLZ-Gebiet:</b></p>
                <div class="legend-item">
                <div class="color" style="background-color: rgba(243, 249, 255, 1)"></div>
                <div class="label">untere 20 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(175, 209, 231, 1)"></div>
                <div class="label">21-40 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(62, 142, 196, 1)"></div>
                <div class="label">41-60 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(8, 48, 107, 1)"></div>
                <div class="label">61-80 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(0, 0, 55, 1)"></div>
                <div class="label">obere 20 %</div>
              </div>
            </div>

            <div *ngIf="zipCodeFilterOption === 'twoDigits'" #legend2Digits id="legend2Digits" class="legend">
            <p><b>Perzentile der Anzahl an Ladepunkten
              <br>je PLZ-Gebiet:</b></p>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(243, 249, 255, 1)"></div>
                <div class="label">untere 20 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(175, 209, 231, 1)"></div>
                <div class="label">21-40 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(62, 142, 196, 1)"></div>
                <div class="label">41-60 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(8, 48, 107, 1)"></div>
                <div class="label">61-80 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(0, 0, 55, 1)"></div>
                <div class="label">obere 20 %</div>
              </div>
              </div>


              <div *ngIf="zipCodeFilterOption === 'regierungsbezirke'" #legendBezirk id="legendBezirk" class="legend">
            <p><b>Perzentile der Anzahl an Ladepunkten
              <br>je Regierungsbezirk:</b></p>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(243, 249, 255, 1)"></div>
                <div class="label">untere 20 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(175, 209, 231, 1)"></div>
                <div class="label">21-40 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(62, 142, 196, 1)"></div>
                <div class="label">41-60 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(8, 48, 107, 1)"></div>
                <div class="label">61-80 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(0, 0, 55, 1)"></div>
                <div class="label">obere 20 %</div>
              </div>
              </div>


            <div *ngIf="zipCodeFilterOption === 'kreise'" #legendKreis id="kreise" class="legend">
            <p><b>Perzentile der Anzahl an Ladepunkten
              <br>je Landkreis:</b></p>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(243, 249, 255, 1)"></div>
                <div class="label">untere 20 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(175, 209, 231, 1)"></div>
                <div class="label">21-40 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(62, 142, 196, 1)"></div>
                <div class="label">41-60 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(8, 48, 107, 1)"></div>
                <div class="label">61-80 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(0, 0, 55, 1)"></div>
                <div class="label">obere 20 %</div>
              </div>
            </div>
            </div>
        </div>
    </div>
