 @import '../../@theme/styles/themes';

@include nb-install-component() {




  nb-card-body {
   
    padding: 0;
  }

  ::ng-deep .leaflet-top, ::ng-deep .leaflet-bottom {
    z-index: 997;
  }

  ::ng-deep .leaflet-container {
    width: 100%;
    height: nb-theme(card-height-large);
  }

  ::ng-deep .leaflet-control-zoom a {
    text-decoration: none;
  }
}

::ng-deep .map-container {
  font-family:  "Biome W01 Regular",sans-serif;
  position: relative;
}

 .legend-container {
  position: absolute;
  top: 150px; 
  right: 20px; 
  z-index: 5000;
 

}
::ng-deep .legend {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
  padding: 10px;
  z-index: 1000;
  margin-top: -140px;
  font-family:  "Biome W01 Regular",sans-serif;
}




// #legend {
//   width: 200px;
//   height: 130px;
// }

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: 1;
}

.slider-container {
  width: 100%;
  position: relative;
}

.time-slider {
  width: 100%;
  margin: 20px 0;
}

.time-labels {
  display: flex;
  justify-content: space-between;
  padding: 0 10px; 
  position: relative;
}

.time-labels span {
  position: relative;
  bottom: 30px; 
  font-size: 12px;
}

// :root, body, html {
//   --nb-font-primary: "Biome W01 Regular", sans-serif;
// }

// body, html {
//   font-family: "Biome W01 Regular", sans-serif !important;
// }

.label {
 font-family: "Biome W01 Regular", sans-serif !important;
}
.leaflet-container{
  font-family: "Biome W01 Regular", sans-serif !important;
}
.legend{
  font-family: "Biome W01 Regular", sans-serif !important;
}
