<nb-card style="background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(0, 111, 122, 0.3)); border-radius: 20px;">
  <nb-card-header class="font">
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
      <div class="font" style="display: flex; align-items: center;">
      <p style=" margin-top: 35px;" class="font"> Ansicht:</p>  
<nb-select [(selected)]="zipCodeFilterOption"  class="font" style="margin-left: 10px; margin-top: 20px;">

  <nb-option class="font" value="regierungsbezirke" (click)="switchMap('regierungsbezirke')">Regierungsbezirke</nb-option>
  <nb-option class="font" value="kreise" (click)="switchMap('kreise')">Landkreise</nb-option>
</nb-select>
</div>
<div class="zipcode-filter font">
  <br>
  <input class="font" nbInput [(ngModel)]="inputRegierungsbezirk" type="text" placeholder="Gebiet eingeben" (input)="onInputChange($event)" />&nbsp;
  <button nbButton shape="round" class="font">Suche</button>
</div>
</div>
</nb-card-header>
</nb-card>
<br>

<div class="row">
  <div class="col-12">
    <p class="font"><b>Heat Map: Ladeleistung je km²</b>
      <span class="float-right px-2"><button nbButton  class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" size="small" status="danger" shape="round"
        (click)='downloadImage("jpeg")'>JPEG</button></span>
<span class="float-right"><button nbButton  class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" size="small" status="danger" shape="round"
        (click)='downloadImage("png")'>png</button></span>
        <span class="float-right">
          <button nbButton  class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" *ngIf="zipCodeFilterOption === 'regierungsbezirke'" size="small" status="danger" shape="round" (click)="downloadCSV('regierungsbezirk-data.csv', popupDataRegierungsbezirk,'Regierungsbezirk')">
            CSV-Export
          </button>&nbsp;
        </span>
        <span class="float-right">
          <button nbButton  class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" *ngIf="zipCodeFilterOption === 'kreise'" size="small" status="danger" shape="round" (click)="downloadCSV('kreise-data.csv', popupDataKreise,'Landkreise')">
            CSV-Export
          </button>&nbsp;
        </span>
        
          </p>
  </div>
</div>
<div class="map-container" id="print">
    <div class="map-frame">
        <div id="PowerArea"></div>
        <div class="legend-container" #draggableLegend>
          <div *ngIf="zipCodeFilterOption === 'regierungsbezirke'" id="legendBezirk" class="legend">
            <p class="font"><b>Perzentile der installierten Leistung
              <br>je km² je Regierungsbezirk:</b></p>
              <div class="legend-item">
                <div class="color" style="background-color:  RGBA(0,111,122,0.1)"></div>
                <div class="label font">untere 20 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color:  RGBA(0,111,122,0.4)"></div>
                <div class="label font">21-40 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: RGBA(0,111,122,0.7)"></div>
                <div class="label font">41-60 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: RGBA(0,111,122,1)"></div>
                <div class="label font">61-80 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: RGBA(220, 189, 35, 1)"></div>
                <div class="label font">obere 20 %</div>
              </div>
          
          </div>
        
      
        <div *ngIf="zipCodeFilterOption === 'kreise'" id="kreise" class="legend">
            <p class="font"><b>Perzentile der installierten Leistung
              <br>je km² je Landkreis:</b></p>
              <div class="legend-item">
                <div class="color" style="background-color:  RGBA(0,111,122,0.1)"></div>
                <div class="label font">untere 20 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color:  RGBA(0,111,122,0.4)"></div>
                <div class="label font">21-40 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: RGBA(0,111,122,0.7)"></div>
                <div class="label font">41-60 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: RGBA(0,111,122,1)"></div>
                <div class="label font">61-80 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: RGBA(220, 189, 35, 1)"></div>
                <div class="label font">obere 20 %</div>
              </div>
    </div>
  </div>
  

  





















 

 
  
  
