<div class="col-lg-12">
  <nb-card style="background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(0, 111, 122, 0.3)); border-radius: 20px;">
    <nb-card-header class="font">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <span > 
          <input class ="font" nbInput placeholder="Zeitraum wählen" class="mx-2 date" id="dateRangeFilter" [nbDatepicker]="formpicker">
          <nb-rangepicker #formpicker></nb-rangepicker>
          <input class ="font" nbInput [(ngModel)]="evseIdInput" placeholder="EvseID (mehrere mit Komma trennen)" class="mx-2 my-custom-class">
          <button class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" shape="round" nbButton size="small" (click)="getLast7DaysData(evseIdInput.split(','))">Anzeigen</button>
  
      </span>

        <div style="display: flex; align-items: center; justify-content: center;">
        
          <h6 class="text-center text-white font">Gebiet : </h6>&nbsp;&nbsp;
          <nb-select [(ngModel)]="selectedFilter" id='selectedFilter'>
            <nb-option class="font" value="regierungsbezirke">Regierungsbezirk</nb-option>
            <nb-option class="font" value="kreise">Landkreis</nb-option>
          </nb-select>&nbsp;&nbsp;
          <br>
          <ng-container *ngIf="selectedFilter === 'regierungsbezirke'" >
            <nb-select  class="font" id="filterValue" [(selected)]="selectedFilterValue">
              <nb-option class="font" value="Schleswig-Holstein">Schleswig-Holstein</nb-option>
              <nb-option class="font" value="Hamburg">Hamburg</nb-option>
              <nb-option class="font" value="Niedersachsen">Niedersachsen</nb-option>
              <nb-option class="font" value="Bremen">Bremen</nb-option>
              <nb-option class="font" value="Düsseldorf">Düsseldorf</nb-option>
              <nb-option class="font" value="Köln">Köln</nb-option>
              <nb-option class="font" value="Munster">Munster</nb-option>
              <nb-option class="font" value="Detmold">Detmold</nb-option>
              <nb-option class="font" value="Arnsberg">Arnsberg</nb-option>
              <nb-option class="font" value="Darmstadt">Darmstadt</nb-option>
              <nb-option class="font" value="Gießen">Gießen</nb-option>
              <nb-option class="font" value="Kassel">Kassel</nb-option>
              <nb-option class="font" value="Rheinland-Pfalz">Rheinland-Pfalz</nb-option>
              <nb-option class="font" value="Freiburg">Freiburg</nb-option>
              <nb-option class="font" value="Tübingen">Tübingen</nb-option>
              <nb-option class="font" value="Oberbayern">Oberbayern</nb-option>
              <nb-option class="font" value="Niederbayern">Niederbayern</nb-option>
              <nb-option class="font" value="Oberpfalz">Oberpfalz</nb-option>
              <nb-option class="font" value="Oberfranken">Oberfranken</nb-option>
              <nb-option class="font" value="Mittelfranken">Mittelfranken</nb-option>
              <nb-option class="font" value="Schwaben">Schwaben</nb-option>
              <nb-option class="font" value="Unterfranken">Unterfranken</nb-option>
              <nb-option class="font" value="Saarland">Saarland</nb-option>
              <nb-option class="font" value="Berlin">Berlin</nb-option>
              <nb-option class="font" value="Brandenburg">Brandenburg</nb-option>
              <nb-option class="font" value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</nb-option>
              <nb-option class="font" value="Sachsen-Anhalt">Sachsen-Anhalt</nb-option>
              <nb-option class="font" value="Thüringen">Thüringen</nb-option>
              <nb-option class="font" value="Sachsen">Sachsen</nb-option>
              <nb-option class="font" value="Stuttgart">Stuttgart</nb-option>
              <nb-option class="font" value="Karlsruhe">Karlsruhe</nb-option>
            </nb-select>

          </ng-container>
          <ng-container *ngIf="selectedFilter === 'kreise'">
            <input class="font" nbInput type="text" id="kreisInput" [(ngModel)]="selectedArea" placeholder="Kreis eingeben" />
          </ng-container>&nbsp;&nbsp;
          <button class="font" size="small" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" nbButton shape="round" (click)="getLast7DaysData([], false,true)">Suche</button>
        </div>
<span>
  <button  class="font" size="small" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" shape="round" (click)="getLast7DaysData([], true,false)" class="text-center" nbButton>Alle EvseId's</button>
</span>
      </div>
           </nb-card-header>
    </nb-card>
  </div>
 
<div class="col-lg-12" id="print">
    <nb-card style="border-radius: 25px;">
        <nb-card-header class="font">Belegungszeit je Ladepunkt in Deutschland - täglich
          <div class="row">
            <div class="col-12">
    
                    <span class="float-right px-2"><button nbButton  size="small" status="danger" shape="round"
                      class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';"
                            (click)='downloadImage("jpeg")'>JPEG</button></span>
                    <span class="float-right"><button nbButton  size="small" status="danger" shape="round"
                      class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';"
                            (click)='downloadImage("png")'>png</button></span>
                            <span class="float-right">
                              <button nbButton class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" *ngIf="selectedFilter === 'regierungsbezirke'" size="small" status="danger" shape="round" (click)="downloadCSV('regierungsbezirk-data.csv', printDataRegierungsbezirk,'Regierungsbezirk')">
                                CSV-Export
                              </button>&nbsp;
                            </span>
                            <span class="float-right">
                              <button nbButton  class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" *ngIf="selectedFilter === 'kreise'" size="small" status="danger" shape="round" (click)="downloadCSV('kreise-data.csv', printDataKreise,'Landkreise')">
                                CSV-Export
                              </button>&nbsp;
                              <button nbButton  class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" *ngIf="selectedFilter === 'singleEvse'" size="small" status="danger" shape="round" (click)="downloadCSV('evseId-data.csv', printDataSingleEvse,'EvseID')">
                                CSV-Export
                              </button>&nbsp;
                              <button nbButton  class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" *ngIf="selectedFilter === 'allEvse'" size="small" status="danger" shape="round" (click)="downloadCSV('AllevseId-data.csv', printAllEvse,'All EvseID')">
                                CSV-Export
                              </button>&nbsp;
                            </span>
            </div>
        </div>
        
           
          </nb-card-header>


          
        <nb-card-body>
          <p class="font" *ngIf="selectedFilter === 'singleEvse'">Belegungsstatus per EvseId: {{ evseIdInput }} am {{startDate}} <span *ngIf="endDate">- {{endDate}}</span></p>

          <p class="font" *ngIf="selectedFilter === 'allEvse'">Belegungsstatus alle EvseId am {{startDate}} <span *ngIf="endDate">- {{endDate}}</span></p>
          <p class="font" *ngIf="selectedFilter === 'regierungsbezirke'">Belegungsstatus : {{ selectedArea }} am {{startDate}} <span *ngIf="endDate">- {{endDate}}</span></p>
          <p class="font" *ngIf="selectedFilter === 'kreise'">Belegungsstatus : {{ selectedArea }} am {{startDate}} <span *ngIf="endDate">- {{endDate}}</span></p>


            <ngx-charts-line-chart

           [scheme]="colorScheme"
  [results]="chartData"

  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="xAxisLabel"
  [showYAxisLabel]="yAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"

>
</ngx-charts-line-chart>

            
        </nb-card-body>
        
    </nb-card>
   
</div>
