<nb-card>
  <nb-card-header  style="font-family: 'Biome W01 Regular', sans-serif;">
    Filter
    <div class="zipcode-filter">
      <br>
      <input nbInput  style="font-family: 'Biome W01 Regular', sans-serif;"[(ngModel)]="inputRegierungsbezirk" type="text" placeholder="Gebiet eingeben" (input)="onInputChange($event)" />&nbsp;
      <button nbButton  style="font-family: 'Biome W01 Regular', sans-serif;" shape="round" >Suche</button>
    </div>
    <br>
    

<!-- <nb-select [(selected)]="zipCodeFilterOption">
  <nb-option value="regierungsbezirke" (click)="switchMap('regierungsbezirke')">Regierungsbezirke</nb-option>
  <nb-option value="kreise" (click)="switchMap('kreise')">Landkreise</nb-option>
  <nb-option value="all" (click)="switchMap('all')">5-stellig</nb-option>
  <nb-option value="twoDigits" (click)="switchMap('2-stellig')">2-stellig</nb-option>
</nb-select> -->



</nb-card-header>
</nb-card>
<br>

<div class="row">
  <div class="col-12">
    <p><b  style="font-family: 'Biome W01 Regular', sans-serif;">Heat Map:Strom Erzeuger Solar Brotto Leistungen per Postleitzahl</b>
          <span class="float-right px-2"><button nbButton  size="small" status="danger" shape="round"
                  (click)='downloadImage("jpeg")'  style="border: 'rgba(0,135,127)';background-color:'rgba(0,135,127)';font-family: 'Biome W01 Regular', sans-serif;">JPEG</button></span>
          <span class="float-right"><button nbButton  size="small" status="danger" shape="round"  style="border: 'rgba(0,135,127)';background-color:'rgba(0,135,127)';font-family: 'Biome W01 Regular', sans-serif;"
                  (click)='downloadImage("png")'>png</button></span>
                  <span class="float-right">
                    <button nbButton *ngIf="zipCodeFilterOption === 'all'"  style="border: 'rgba(0,135,127)';background-color:'rgba(0,135,127)';font-family: 'Biome W01 Regular', sans-serif;" size="small" status="danger" shape="round" (click)="downloadCSV('5-stellig-PLZ.csv', popupDataZipCode,'5-stellig-PLZ')">
                      CSV-Export
                    </button>&nbsp;
                  </span>
                 
          </p>

  </div>
</div>

<div class="map-container" id="print">
    <div class="map-frame">
        <div id="heatMapContainerSolarBruttoProduc"></div>
       
          <div class="legend-container"  #draggableLegend>
            <div *ngIf="zipCodeFilterOption === 'all'" #legend id="legend" class="legend">
            <p><b  style="font-family: 'Biome W01 Regular', sans-serif;">Perzentile der Brutto Leistungen an Strom Erzeuger Solar
              <br>je PLZ-Gebiet:</b></p>
              <div class="legend-item">
                <div class="color" style="background-color:  RGBA(0,111,122,0.1)"></div>
                <div class="label font">untere 20 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color:  RGBA(0,111,122,0.4)"></div>
                <div class="label font">21-40 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: RGBA(0,111,122,0.7)"></div>
                <div class="label font">41-60 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: RGBA(0,111,122,1)"></div>
                <div class="label font">61-80 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: RGBA(220, 189, 35, 1)"></div>
                <div class="label font">obere 20 %</div>
              </div>
            </div>
            <div class="date-display">
              <p style="font-family: 'Biome W01 Regular', sans-serif;"><b>Datum: {{ todaysDate }}</b></p>
            </div>
          
         
            </div>
        </div>
    </div>
