<div class="col-lg-12">
 
    
        <nb-card-body>
       
          <ngx-charts-bar-vertical-stacked 
          [scheme]="colorScheme" 
          [view]="[500,250]" 
          [results]="results" 
          [showDataLabel]="true" 
          [xAxis]="showXAxis" 
          [yAxis]="showYAxis"          
          [xAxisLabel]="xAxisLabel" 
          [yAxisLabel]="yAxisLabel">
          (select)="onSelect($event)">
          </ngx-charts-bar-vertical-stacked>
          
      </nb-card-body>
      
   

    

 

