<head>
 
  <link href="https://db.onlinewebfonts.com/c/dba3e777ccc7fa4a896dcf7e7f5b3bfb?family=Biome+W01+Regular" rel="stylesheet">
 
</head>
<nb-card>
  <nb-card-header style="font-family: 'Biome W01 Regular', sans-serif;">
    Filter
    <div class="zipcode-filter" style="font-family: 'Biome W01 Regular', sans-serif;">
      <br>
      <input nbInput [(ngModel)]="inputRegierungsbezirk"  style="font-family: 'Biome W01 Regular', sans-serif;" type="text" placeholder="Gebiet eingeben" (input)="onInputChange($event)" />&nbsp;
      <button nbButton  style="font-family: 'Biome W01 Regular', sans-serif;" shape="round" >Suche</button>
    </div>
    <br>
    
    
    
  
Ansicht:&nbsp; &nbsp;
<!-- <nb-select [(selected)]="zipCodeFilterOption">
  <nb-option value="regierungsbezirke" (click)="switchMap('regierungsbezirke')">Regierungsbezirke</nb-option>
  <nb-option value="kreise" (click)="switchMap('kreise')">Landkreise</nb-option>
  <nb-option value="all" (click)="switchMap('all')">5-stellig</nb-option>
  <nb-option value="twoDigits" (click)="switchMap('2-stellig')">2-stellig</nb-option>
</nb-select> -->



</nb-card-header>
</nb-card>
<br>

<div class="row">
  <div class="col-12">
    <p><b style="font-family: 'Biome W01 Regular', sans-serif;">Heat Map: Nettonennleistungen an Strom Erzeuger Solar </b>
          <span class="float-right px-2"><button nbButton  style="font-family: 'Biome W01 Regular', sans-serif;" size="small" status="danger" shape="round"
                  (click)='downloadImage("jpeg")'>JPEG</button></span>
          <span class="float-right"><button nbButton style="font-family: 'Biome W01 Regular', sans-serif;"  size="small" status="danger" shape="round"
                  (click)='downloadImage("png")'>png</button></span>
                  <span class="float-right">
                    <button nbButton style="font-family: 'Biome W01 Regular', sans-serif;" *ngIf="zipCodeFilterOption === 'all'" size="small" status="danger" shape="round" (click)="downloadCSV('5-stellig-PLZ.csv', popupDataZipCode,'5-stellig-PLZ')">
                      CSV-Export
                    </button>&nbsp;
                  </span>
               
          </p>

  </div>
</div>

<div class="map-container" id="print">
    <div class="map-frame">
        <div id="heatMapContainerSolarLeistung"></div>
       
          <div class="legend-container"  #draggableLegend>
            <div *ngIf="zipCodeFilterOption === 'all'" #legend id="legend" class="legend">
            <p><b style="font-family: 'Biome W01 Regular', sans-serif;">Perzentile der Nettonennleistungen 
              <br>an Strom Erzeuger Solar
              <br>je PLZ-Gebiet:</b></p>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(255, 255, 255, 1)"></div>
                <div class="label">untere 20 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(76, 153, 0)"></div>
                <div class="label">21-40 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(0, 135, 127)"></div>
                <div class="label">41-60 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(0, 111, 122)"></div>
                <div class="label">61-80 %</div>
              </div>
              <div class="legend-item">
                <div class="color" style="background-color: rgba(0, 76, 76)"></div>
                <div class="label">obere 20 %</div>
            
              </div>
            </div>

