@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}

.background{
  background-color:#00877f;
}

.background-sidebar{
  background-color: #006f7a
}

.font{
  font-family: 'Biome W01 Regular', sans-serif;
}