<div class="header-container">
    <div class="logo-container">
       <!-- <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
         -->

        <img src="../../../../assets/images/korero.png" alt="description of image" width="80" height="50">
        <a class="logo" href="#" (click)="navigateHome()"><b style="color:#006f7a;font-family: 'Biome W01 Regular', sans-serif;" >Korero Solutions</b></a>
        
        <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary" style ="margin-left: 30px;"> -->
        <!-- <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option> -->
    <!-- </nb-select> -->
</div>

<div class="navwrap">
    <ul class="nav">

     
    <nb-actions size="small">

        <nb-action>
            <button  href="#" (click)="navigateHome()" class="btn btn-secondary" type="button" style="margin-bottom: 15px; background-color: white; border: none; color: #000;margin-left: 180px;">
                <nb-icon [icon]="homeCard.iconClass"></nb-icon>
                Home
            </button>
        </nb-action>

        <nb-action>
          <div class="dropdown" (mouseenter)=" dropdownOpenStromErzeuger = true" (mouseleave)="dropdownOpenStromErzeuger = false">
            <button class="btn btn-secondary dropdown-toggle" type="button" style="margin-bottom: 15px; background-color: white; border: none; color: #000;">
              <nb-icon [icon]="mapCard.iconClass"></nb-icon>
              Strom Erzeuger
            </button>
        
            <div class="dropdown-menu" [class.show]="dropdownOpenStromErzeuger">
              <div class="dropdown-submenu dropdown-submenu-a" (mouseenter)="dropdownOpenStormErzeugerSolar = true" (mouseleave)="dropdownOpenStormErzeugerSolar = false">
                <button class="dropdown-item dropdown-toggle">Strom Erzeuger Soloar</button>
                <div class="dropdown-menu" [class.show]="dropdownOpenStormErzeugerSolar">
                  <button class="dropdown-item" type="button" (click)="navigateHeatMapStromErzeugerSolar()">Anzahl Strom Erzeuger</button>
                  <button class="dropdown-item" type="button" (click)="navigateStromErzeugerSolarNettoProduction()">Netto Production</button>
                  <button class="dropdown-item" type="button" (click)="navigateStromErzeugerSolarBruttoProduction()">Brutto Production</button>
                  <button class="dropdown-item" type="button" (click)="navigateStromErzeugerSolarNettoLeistung()">Ladeleistung</button>
                  <button class="dropdown-item" type="button" (click)="navigateStromErzeugerSolarRatio()">Ratio</button>
                 
                </div>
              </div>
              
              <div class="dropdown-submenu dropdown-submenu-b" (mouseenter)="dropdownOpenBelegungsZeit = true" (mouseleave)="dropdownOpenBelegungsZeit = false">
                <button class="dropdown-item dropdown-toggle">Belegungszeit</button>
                <div class="dropdown-menu" [class.show]="dropdownOpenBelegungsZeit">
                  <button class="dropdown-item" type="button" (click)="navigateChargingInfraOccupiedTime()">Statistik</button>
                  <button class="dropdown-item" type="button" (click)="navigateChargingInfraHeatMapOccupiedTime()">Heat Map</button>
                </div>
              </div>
            </div>
          </div>
        </nb-action>

        <nb-action>
            <div class="dropdown" (mouseenter)="dropdownOpenLadepunktInfo = true" (mouseleave)="dropdownOpenLadepunktInfo = false" >
                <button class="btn btn-secondary dropdown-toggle" type="button" style="margin-bottom: 15px; background-color: white; border: none; color: #000;">
                    <nb-icon [icon]="totalNumberCard.iconClass"></nb-icon>
                    Info Ladepunkt
                </button>
                
                <div class="dropdown-menu" [class.show]="dropdownOpenLadepunktInfo">
                    <div class="dropdown-submenu dropdown-submenu-a" 
                         (mouseenter)="dropdownOpenAnzahlLadepunkt = true" 
                         (mouseleave)="dropdownOpenAnzahlLadepunkt = false">
                        <button class="dropdown-item dropdown-toggle">Anzahl Ladepunkte</button>
                        <div class="dropdown-menu" [class.show]="dropdownOpenAnzahlLadepunkt">
                            <button class="dropdown-item" type="button" (click)="navigateAnzahlLadepunkteTaeglich()">Täglich</button>
                            <button class="dropdown-item" type="button" (click)="navigateAnzahlLadepunkteWoechentlich()">Wöchentlich</button>
                            <button class="dropdown-item" type="button" (click)="navigateAnzahlLadepunkteMonatlich()">Monatlich</button>
                        </div>
                        
                    </div>
                    <div class="dropdown-submenu dropdown-submenu-b" 
                         (mouseenter)="dropdownOpenLeistung = true" 
                         (mouseleave)="dropdownOpenLeistung = false">
                        <button class="dropdown-item dropdown-toggle">Leistung Ladepunkte</button>
                        <div class="dropdown-menu" [class.show]="dropdownOpenLeistung">
                            <button class="dropdown-item" type="button" (click)="navigateLeistungLadepunkteTaeglich()">Täglich</button>
                            <button class="dropdown-item" type="button" (click)="navigateLeistungLadepunkteWoechentlich()">Wöchentlich</button>
                            <button class="dropdown-item" type="button" (click)="navigateLeistungLadepunkteMonatlich()">Monatlich</button>
                        </div>
                    </div>
                    <div class="dropdown-submenu  dropdown-submenu-a"> 
                        <button class="dropdown-item" (click)="navigateListLadepunkte()">Liste Ladepunkt</button></div>
                </div>
               
            </div>
        </nb-action>
        
     
        <nb-action>
            <div class="dropdown" (mouseenter)="dropdownOpenKarteLadepunkt = true" (mouseleave)="dropdownOpenKarteLadepunkt = false">
              <button class="btn btn-secondary dropdown-toggle" type="button" style="margin-bottom: 15px; background-color: white; border: none; color: #000;">
                <nb-icon [icon]="mapCard.iconClass"></nb-icon>
                Karte Ladepunkt
              </button>
          
              <div class="dropdown-menu" [class.show]="dropdownOpenKarteLadepunkt">
                <div class="dropdown-submenu dropdown-submenu-a">
                  <button class="dropdown-item" (click)="navigateKarteLadepunkte()">Standort Ladepunkte</button>
                </div>
                <div class="dropdown-submenu dropdown-submenu-a" (mouseenter)="dropdownOpenMapAnzahlLadepunkt = true" (mouseleave)="dropdownOpenMapAnzahlLadepunkt = false">
                  <button class="dropdown-item dropdown-toggle">Anzahl Ladepunkte</button>
                  <div class="dropdown-menu" [class.show]="dropdownOpenMapAnzahlLadepunkt">
                    <button class="dropdown-item" type="button" (click)="navigateHeatMapLadepunkteGesamt()">Gesamt</button>
                    <button class="dropdown-item" type="button" (click)="navigateHeatMapLadepunkteJeKm2()">Je km²</button>
                    <button class="dropdown-item" type="button" (click)="navigateHeatMapLadepunkteJeEinwohnerKm2()">Je Einwohner/km²</button>
                    <button class="dropdown-item" type="button" (click)="navigateHeatMapLadepunkteJeBEV()">Je BEV</button>
                  </div>
                </div>
                <div class="dropdown-submenu dropdown-submenu-b" (mouseenter)="dropdownOpenMapLeistung = true" (mouseleave)="dropdownOpenMapLeistung = false">
                  <button class="dropdown-item dropdown-toggle">Ladeleistung</button>
                  <div class="dropdown-menu" [class.show]="dropdownOpenMapLeistung">
                    <button class="dropdown-item" type="button" (click)="navigateHeatMapLadeleistungGesamt()">Gesamt</button>
                    <button class="dropdown-item" type="button" (click)="navigateHeatMapLadeleistungJeKm2()">Je km²</button>
                    <button class="dropdown-item" type="button" (click)="navigateHeatMapLadeleistungJeEinwohnerKm2()">Je Einwohner/km²</button>
                    <button class="dropdown-item" type="button" (click)="navigateHeatMapLadeleistungJeBEV()">Je BEV</button>
                  </div>
                </div>
               <div class="dropdown-submenu dropdown-submenu-b" (mouseenter)="dropdownOpenMapStromErzeuger = true" (mouseleave)="dropdownOpenMapStromErzeuger = false">
                  <button class="dropdown-item dropdown-toggle">Strom Erzeuger</button>
                  <div class="dropdown-menu" [class.show]="dropdownOpenMapStromErzeuger">
                    <button class="dropdown-item" type="button" (click)="navigateHeatMapStromErzeugerSolar()">Anzahl Strom Erzeuger</button>
                    <button class="dropdown-item" type="button" (click)="navigateStromErzeugerSolarNettoLeistung()">Ladeleistung</button>
                    <button class="dropdown-item" type="button" (click)="navigateStromErzeugerSolarRatio()">Ratio</button>
                    <button class="dropdown-item" type="button" ></button>
                  </div>
                </div>
              </div>
            </div>
          </nb-action>
          

          <nb-action>
            <div class="dropdown" (mouseenter)="dropdownOpenBelegungsInfo = true" (mouseleave)="dropdownOpenBelegungsInfo = false">
              <button class="btn btn-secondary dropdown-toggle" type="button" style="margin-bottom: 15px; background-color: white; border: none; color: #000;">
                <nb-icon [icon]="mapCard.iconClass"></nb-icon>
                Belegungsinfo
              </button>
          
              <div class="dropdown-menu" [class.show]="dropdownOpenBelegungsInfo">
                <div class="dropdown-submenu dropdown-submenu-a" (mouseenter)="dropdownOpenBelegungsStatus = true" (mouseleave)="dropdownOpenBelegungsStatus = false">
                  <button class="dropdown-item dropdown-toggle">Belegungsstatus</button>
                  <div class="dropdown-menu" [class.show]="dropdownOpenBelegungsStatus">
                    <button class="dropdown-item" type="button" (click)="navigateChargingDynamicStats()">Statistik</button>
                    <button class="dropdown-item" type="button" (click)="navigateChargingInfraHeatMapOccupiedTimePercentage()">Heat Map</button>
                  </div>
                </div>
                <div class="dropdown-submenu dropdown-submenu-b" (mouseenter)="dropdownOpenBelegungsZeit = true" (mouseleave)="dropdownOpenBelegungsZeit = false">
                  <button class="dropdown-item dropdown-toggle">Belegungszeit</button>
                  <div class="dropdown-menu" [class.show]="dropdownOpenBelegungsZeit">
                    <button class="dropdown-item" type="button" (click)="navigateChargingInfraOccupiedTime()">Statistik</button>
                    <button class="dropdown-item" type="button" (click)="navigateChargingInfraHeatMapOccupiedTime()">Heat Map</button>
                  </div>
                </div>
              </div>
            </div>
          </nb-action>

          
          
     
       
    
       
        <!-- <nb-action>
            <div class="dropdown" (mouseenter)="dropdownOpenBelegungsStatus = true" (mouseleave)="dropdownOpenBelegungsStatus = false" >
                <button class="btn btn-secondary dropdown-toggle" type="button" style="margin-bottom: 15px; background-color: white; border: none; color: #000;">
                    <nb-icon [icon]="statusCard.iconClass"></nb-icon>
                    Belegungsstatus
                </button>
                <div class="dropdown-menu" [class.show]="dropdownOpenBelegungsStatus">
                    <div class="dropdown-submenu  dropdown-submenu-a"> 
                        <button class="dropdown-item">Statistik</button></div>
                        <div class="dropdown-submenu  dropdown-submenu-a"> 
                            <button class="dropdown-item">Heat Map</button></div>
                </div>
               
            </div>
        </nb-action>

       
        <nb-action>
            <div class="dropdown" (mouseenter)="dropdownOpenBelegungsZeit= true" (mouseleave)="dropdownOpenBelegungsZeit = false" >
                <button class="btn btn-secondary dropdown-toggle" type="button" style="margin-bottom: 15px; background-color: white; border: none; color: #000;">
                    <nb-icon [icon]="belegungszeitCard.iconClass"></nb-icon>
                    Belegungszeit
                </button>
                <div class="dropdown-menu" [class.show]="dropdownOpenBelegungsZeit">
                    
                        <div class="dropdown-submenu  dropdown-submenu-a"> 
                            <button class="dropdown-item">Statistik</button></div>
                            <div class="dropdown-submenu  dropdown-submenu-a"> 
                                <button class="dropdown-item">Heat Map</button></div>
                    </div>
                   
                </div>
               
           
        </nb-action>
         -->
     
       
    </nb-actions>
    </ul>
</div>
</div>
