
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  height: 120px;

   

  .logo-container {
    margin-top: 5px;

    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)+4} - #{nb-theme(header-padding)});
   
  }

  

  nb-action {
    
        display: flex;
    margin-top: 25px;
       
    font-family:   'Biome W01 Regular', sans-serif;
        text-align: left;
        

  }

  nb-user {
    cursor: pointer;
   
   
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
   // overflow: auto;
    height: auto; 
    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }


}

btn-secondary:hover {
  background-color: #CBD0CF; 
  color: #000; /* Change text color on hover */
 
}


.dropdown-menu {
  display: none;
  position: flex;
  border: 1px solid white; // Set a border color
  border-radius: 0; // Remove border-radius to have sharp edges
  opacity:90%;
 
  background: linear-gradient(to bottom, white,#CBD0CF);

  
  &.show {
      display: block;
  }
}


.dropdown-submenu-a .dropdown-menu {
    position: absolute;
   top: -2px;  // Set top to 0 to align with the main dropdown
    left: 100%;
    opacity: 90%;
    border-left: 0;  // Remove the left border to merge with the main dropdown
    background: linear-gradient(to bottom, white,#CBD0CF);

    
}

.dropdown-submenu-b .dropdown-menu {
  position: absolute;
  top: -2px; 
  left: 100%;
  opacity: 90%;
  border-left: 0;  // Remove the left border to merge with the main dropdown
  background: linear-gradient(to bottom, white,#CBD0CF);
//203​,208​,207
  
}



