.echart{
    height: 100px;
}

.bdew-heading {
    background-color: rgba(0,111,122);
}

.bdew-gesamt {
    background-color: rgba(0,135,127)
}

.bdew-tag {
    background-color: rgba(0,135,127)
}

.bdew-nacht {
    background-color:rgba(0,135,127)
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .font{
    font-family:  "Biome W01 Regular",sans-serif;
  }

  nb-option{
    font-family:  "Biome W01 Regular",sans-serif;
  }




  