<div class="col-lg-12">
    <nb-card style="background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(0, 111, 122, 0.3)); border-radius: 20px;">
      <nb-card-header class="font">
            <span class="float-right"  style="display: flex; align-items: center; justify-content: center;">

                <input class="font" nbInput placeholder="Zeitraum wählen" class="mx-2" id="dateRangeFilter" [nbDatepicker]="formpicker">
                <nb-rangepicker class="font" #formpicker></nb-rangepicker>
                <nb-select class="font" selected="#" class="mx-2" (selectedChange)="changePowerFilter($event)">
                    <nb-option class="font" value="#">Leistungsklasse</nb-option>
                    <nb-option class="font" value="NC">AC</nb-option>
                    <nb-option class="font" value="FC">DC</nb-option>
                    <nb-option class="font" value="HPC">HPC</nb-option>
                </nb-select>
         
                <nb-select class="font" selected="#" class="mx-2" (selectedChange)="changeRegion($event)" [(ngModel)]="selectedFilter" id='selectedFilter'>
              <nb-option class="font" value="#">Region</nb-option>
              <nb-option class="font" value="regierungsbezirk">Regierungsbezirk</nb-option>
              <nb-option class="font" value="landkreis">Landkreis</nb-option>
             
              <nb-option class="font" value="city">Stadt</nb-option>
              <nb-option class="font" value="zipcode">PLZ</nb-option>
              <!-- <nb-option value="country">Land</nb-option> -->
          </nb-select>

          <br>
          <ng-container *ngIf="selectedFilter === 'regierungsbezirk'">
            <nb-select  class="font" id="filterValue" [(selected)]="selectedFilterValue">
              <nb-option class="font" value="Schleswig-Holstein">Schleswig-Holstein</nb-option>
              <nb-option class="font" value="Hamburg">Hamburg</nb-option>
              <nb-option class="font" value="Niedersachsen">Niedersachsen</nb-option>
              <nb-option class="font" value="Bremen">Bremen</nb-option>
              <nb-option class="font" value="Düsseldorf">Düsseldorf</nb-option>
              <nb-option class="font" value="Köln">Köln</nb-option>
              <nb-option class="font" value="Munster">Munster</nb-option>
              <nb-option class="font" value="Detmold">Detmold</nb-option>
              <nb-option class="font" value="Arnsberg">Arnsberg</nb-option>
              <nb-option class="font" value="Darmstadt">Darmstadt</nb-option>
              <nb-option class="font" value="Gießen">Gießen</nb-option>
              <nb-option class="font" value="Kassel">Kassel</nb-option>
              <nb-option class="font" value="Rheinland-Pfalz">Rheinland-Pfalz</nb-option>
              <nb-option class="font" value="Freiburg">Freiburg</nb-option>
              <nb-option class="font" value="Tübingen">Tübingen</nb-option>
              <nb-option class="font" value="Oberbayern">Oberbayern</nb-option>
              <nb-option class="font" value="Niederbayern">Niederbayern</nb-option>
              <nb-option class="font" value="Oberpfalz">Oberpfalz</nb-option>
              <nb-option class="font" value="Oberfranken">Oberfranken</nb-option>
              <nb-option class="font" value="Mittelfranken">Mittelfranken</nb-option>
              <nb-option class="font" value="Schwaben">Schwaben</nb-option>
              <nb-option class="font" value="Unterfranken">Unterfranken</nb-option>
              <nb-option class="font" value="Saarland">Saarland</nb-option>
              <nb-option class="font" value="Berlin">Berlin</nb-option>
              <nb-option class="font" value="Brandenburg">Brandenburg</nb-option>
              <nb-option class="font" value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</nb-option>
              <nb-option class="font" value="Sachsen-Anhalt">Sachsen-Anhalt</nb-option>
              <nb-option class="font" value="Thüringen">Thüringen</nb-option>
              <nb-option class="font" value="Sachsen">Sachsen</nb-option>
              <nb-option class="font" value="Stuttgart">Stuttgart</nb-option>
              <nb-option class="font" value="Karlsruhe">Karlsruhe</nb-option>
            </nb-select>

          </ng-container>
          <ng-container *ngIf="selectedFilter === 'landkreis'">
            <input class="font" nbInput type="text" id="filterValue"  placeholder="Bezirk/Kreis eingeben" />
          </ng-container>&nbsp;&nbsp;

          <ng-container *ngIf="selectedFilter === 'city'">
              <input class="font" nbInput type="text" id="filterValue"  placeholder="Stadt eingeben" />
            </ng-container>&nbsp;&nbsp;

            <ng-container *ngIf="selectedFilter === 'zipcode'">
              <input class="font" nbInput type="text" id="filterValue"  placeholder="Postleitzahl eingeben" />
            </ng-container>&nbsp;&nbsp;

            
              <button nbButton  class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" status="danger" shape="round" (click)='getChargepointGraph()'>Filter</button>
          
            </span>
            
        </nb-card-header>
    </nb-card>
</div>
<div class="col-lg-12" id="print">
    <nb-card  style="border-radius: 20px;">
        <nb-card-header class="font">Maximale Leistung (in Summe: MWh) der Ladepunkte in Deutschland - täglich<span class="float-right px-2">
          <button nbButton size="small"  shape="round"  class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';"
            (click)='downloadImage("jpeg")'><nb-icon icon="download-outline"></nb-icon>JPEG</button></span>
    <span class="float-right"><button nbButton size="small" shape="round"  class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';"
            (click)='downloadImage("png")'><nb-icon icon="download-outline"></nb-icon>PNG</button></span></nb-card-header>
        <nb-card-body style="display: flex; align-items: center; justify-content: center;">
            <ngx-charts-bar-vertical-stacked 
            [scheme]="colorScheme" 
            [view]="[900,300]" 
            [results]="results" 
            [showDataLabel]="true" 
            [xAxis]="showXAxis" 
            [yAxis]="showYAxis"
            [legend]="showLegend" 
            [legendTitle]="legendTitle" 
            [xAxisLabel]="xAxisLabel" 
            [yAxisLabel]="yAxisLabel">
            (select)="onSelect($event)">
            </ngx-charts-bar-vertical-stacked>
        </nb-card-body>
        <p class="font">Erstes Qualitätsmanagement: 20.04.2023 <br>Zweites Qualitätsmanagement: 29.06.2023</p>
    </nb-card>
   
</div>
