<div class="row">
    <div class="col-12">
       <p class="font">Öffentliche Ladepunkte in Deutschland - Karte
            <span class="float-right px-2"><button nbButton   class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';" size="small" status="danger" shape="round"
                    (click)='downloadImage("jpeg")'>JPEG</button></span>
            <span class="float-right"><button nbButton  class="font" style="background-color:'rgba(0,135,127)';border: 'rgba(0,135,127)';"  size="small" status="danger" shape="round"
                    (click)='downloadImage("png")'>png</button></span>
            </p>

    </div>
</div>
<div class="map-container" id="print">
    <div class="map-frame">
        <div id="leafLetMap"></div>
    </div>
</div>
