@import '../../../@theme/styles/themes';


@include nb-install-component() {

  nb-card-body {
    padding: 0;
  }

  ::ng-deep .leaflet-top, ::ng-deep .leaflet-bottom {
    z-index: 997;
  }

  ::ng-deep .leaflet-container {
    width: 100%;
    height: nb-theme(card-height-large);
  }

  ::ng-deep .leaflet-control-zoom a {
    text-decoration: none;
  }
}

.map-container {
  position: relative;
}

.legend-container {
  position: absolute;
  top: 150px; 
  right: 20px; 
  z-index: 5000;
}
.legend {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
  padding: 10px;
  z-index: 1000;
  margin-top: -140px;
}

#legend {
  width: 250px;
  height: 150px;
}


.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: 0.6;
}








.centered-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 30%;
}

.small-text {
 font-size: 10px; 
}

.chart-container {
  display: flex; /* establishes a flex container */
  justify-content: center; /* center items horizontally, in this case, the chart */
  align-items: center; /* center items vertically */
  border: 2px solid white; 
  padding: 20px; 
  margin: 35px; 
  background-color: #006f7a; 
  border-radius: 25px; 
  height: 400px; 
  width: 550px;
  font-family: 'Biome W01 Regular', sans-serif;;
 
}


.chart-container:hover {
  background-color:#00877f; /* Change the background color on hover */
}