<div class="row">
  <div class="row">
    <!-- Status cards container -->
    <div class="col-xl-3 col-lg-2"> <!-- This is approximately 1/6 of the row (2 out of 12 columns) -->
      <!-- <div *ngFor="let statusCard of statusCards">
        <div class="status-card">
          <div class="status-icon">
            <i [ngClass]="statusCard.iconClass"></i>
          </div>
          <div class="status-title">{{ statusCard.title }}</div>
          <div class="data">{{statusCard.dataValue}}</div>
        </div>
      </div> -->
      <div *ngIf="totalNumberCard" class="status-card">
        <div>{{ totalNumberCard.title }}</div> 
        <div  class="center-content">{{ totalNumberCard.dataValue }}</div>        
      </div>
      <div *ngIf="totalPowerCard" class="status-card">
        <div>{{ totalPowerCard.title }}</div> 
        <div  class="center-content">{{ totalPowerCard.powerValue }}</div>        
      </div>
      <div *ngIf="totalOccupiedTimeCard" class="status-card">
        <div>{{ totalOccupiedTimeCard.title }}</div> 
        <div  class="center-content">{{ totalOccupiedTimeCard.powerValue }}</div>        
      </div>
    </div>
  </div>
  
  

  <!-- Electricity chart container -->
  <div class="col-xl-5 col-lg-5 custom-vertical-size">
   <ngx-occupiedTimeStatus></ngx-occupiedTimeStatus>
   <ngx-map></ngx-map>

  </div>
 

 

  <div class="col-xl-4 col-lg-4"> 
    <div class="component-container">
      <ngx-electricity></ngx-electricity>
    </div>
    <div class="component-container">
      <ngx-occupiedTimeLine></ngx-occupiedTimeLine>
    </div>
  </div>
  

</div>




 
